{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_row(form.descripcion)}}
        </div>
    </div>
</div>
{{form_rest(form)}}
{{ form_end(form) }}
